/* index.html */

html body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    left: 1387px;
    width: 200px;
    height: 200px;
    top: 35px;
    z-index: 5;
}

.sk {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 1.6;
    position: relative;
    top: 40px;
    left: 39px;
    text-decoration: none;
}

.lists {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 540;
    letter-spacing: 1.5px;
    line-height: 1.6;
    width: 200px;
    position: relative;
    top: 60px;
}

#name {
    color: #a340ff;
}

.container2 {
    display: flex;
    justify-content: center;
}

footer {
    font-family: sans-serif;
    font-size: 12px;
    text-align: start;
    position: fixed;
    top: 840px;
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    width: 410px;
    z-index: 9;
}

.icon {
    font-size: 20px;
    position: relative;
    bottom: 8px;
}

.image {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 340px;
    width: 166%;
}

#pattern {
    height: 400px;
}

#notnow {
    height: 400px;
}

#sun {
    height: 400px;
}

#tibet {
    height: 400px;
}

#pyl {
    height: 400px;
}

.pre {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 1.6;
    position: fixed;
    color: red;
}

.pre {
    left: 110px;
    top: 250px;
}



/* sungah.html */

#me { 
    height: 700px;
    position: relative;
    left: 100px;
    top: 100px;
}


#abme {
    width: 600px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.6;
    position: relative;
    left: 200px;
    top: 600px;
}

.resume {
    display: flex;
    width: 80%;
    height: 300px;
}

.bar {
    background-color: rgb(132, 200, 255);
    height: 1000px;
    width: 300px;
    right: 0px;
    position: fixed;
    z-index: 1;
}

#meeee {
    height: 300px;
    position: relative;
    left: 1455px;
    z-index: 6;
    top: 174px;
}


/* portfolio.html */

.portfolio {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 180px;
    top: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 800px;
}

#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i9, #i10, #i11, #i12, #i13, #i14, #i15, #i16, #i17, #i18, #i19, #i20 {
    height: 180px;
}

.bar-p {
    background-color: rgb(132, 200, 255);
    height: 1000px;
    width: 300px;
    right: 0px;
    position: fixed;
    z-index: 1;
    top: 0px;
}

/* design.html */

.designs {
    display: flex;
    justify-content: center;
    width: 900px;
    flex-wrap: wrap;
    position: relative;
    top: 70px;
    height: 600px;
    left: 250px;
    margin-bottom: 80px;
}

#pattern-d, #nndesign, #notnow1-d, #nnphone, #slipon, #snowboard, #snowboard2, #postcard, #emo, #brochure, #art2019, #kimjong, #logo3, #logo2, #logo1 {
    height: 150px;
    padding-top: 20px;
    padding-right: 20px;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
    display: flex;
    justify-content: center;
}

#logo3 {
    margin-left: 10px;
}


/* product.html */

.products {
    display: flex;
    justify-content: center;
    width: 900px;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    height: 600px;
    left: 250px;
    margin-bottom: 80px;
}

#vans {
    height: 120px;
    padding-top: 30px;
}

#notnowsample, #case-w, #case-o, #case-b, #case-p {
    height: 150px;
    padding-top: 10px;
    padding-right: 20px;
}

#pc1, #pc3, #pc2, #pc4{
    height: 140px;
    padding-top: 10px;
    padding-right: 10px;
}

#pc11, #pc22, #pc33, #pc44 {
    height: 150px;
    padding-top: 10px;
    padding-right: 10px;
}

#ply-bag, #ply-b, #ply-bb{
    height: 150px;
    padding-top: 20px;
    padding-right: 20px;
}

.con1, .con2, .con3, .con4 {
    display: flex;
    justify-content: center;
}

/* digital.html */

.digitals {
    display: flex;
    justify-content: center;
    width: 900px;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    height: 600px;
    left: 250px;
    margin-bottom: 80px;
}

#momanddad, #box {
    height: 150px;
    padding-top: 10px;
    padding-right: 10px;
}